{% extends "base.html" %}
{% block title %}Create Ticket{% endblock %}
{% block content %}
    <h2>Create Ticket</h2>
    <form method="POST" action="{{ url_for('create_ticket') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.note.label }} {{ form.note(class="form-control") }}
            {% if current_user.role == 'Admin' %}
                {{ form.group.label }}<br>
                {{ form.group() }}<br>
                {% for error in form.group.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}
